<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titulo}"></title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

  <h1 th:text="${titulo}"></h1>

  <ul>
    <li th:text="${user.nombre}"></li>
    <li th:text="${user.apellido}"></li>
    <li th:text="${user.username}"></li>
    <li th:text="${user.cuenta}"></li>
    <li th:text="${user.email}"></li>
    <li th:text="${user.password}"></li>
    <li th:text="${user.identificador}"></li>
    <li th:text="${user.pais.id}"></li>
    <li th:text="${user.pais.codigo}"></li>
    <li th:text="${user.pais.nombre}"></li>
    <li th:text="${#dates.format(user.fechaNacimiento, 'dd/MM/yyyy')}"></li>
    <li th:text="'Habilitado: ' + ${user.habilitar}"></li>
    <li th:text="'Género: ' + ${user.genero}"></li>
    <li th:text="'Valor oculto: ' + ${user.valorSecreto}"></li>

  </ul>

  <h2>Roles</h2>
  <ul>
    <li th:each="role: ${user.roles}" th:text="${role.id} + ': ' + ${role.nombre} + ' => ' + ${role.nombre}"></li>
  </ul>

</body>

</html>